Repository JoltzRewards/joltz: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --quiet --fix, yarn prettier --write

fix: build issues with types
  packages/storage/src/StorageBridge.ts
  packages/storage/src/types.ts
Due: yarn eslint --quiet --fix, yarn prettier --write

feat: finish lifecycle scripts; update and fix tests
  packages/storage/package.json
  packages/storage/src/StorageBridge.ts
  packages/storage/src/types.ts
  packages/storage/test/adapter.test.ts
  packages/storage/test/bridge.test.ts
  packages/storage/test/sum.test.ts
  packages/storage/vite.config.ts
  yarn.lock
Due: yarn eslint --quiet --fix, yarn prettier --write

feat: add adapter and bridge typings from docs
  packages/storage/src/types.ts
Due: yarn eslint --quiet --fix, yarn prettier --write

chore: disable jest ci testing workflow
  .github/workflows/analyze_pull_request.yml
Due: none

feat: add majority of progress for pulumi
  packages/pulumi/Pulumi.dev.yaml
  packages/pulumi/Pulumi.yaml
  packages/pulumi/README.md
  packages/pulumi/components/BrandNode.ts
  packages/pulumi/components/index.ts
  packages/pulumi/index.ts
  packages/pulumi/package.json
  packages/pulumi/tsconfig.json
  yarn.lock
Due: yarn eslint --quiet --fix, yarn prettier --write

feat: improve stack creation/call stack.up
  packages/pulumi/index.ts
Due: yarn eslint --quiet --fix, yarn prettier --write

feat: add ec2.instance and initial userData
  packages/pulumi/components/BrandNode.ts
Due: yarn eslint --quiet --fix, yarn prettier --write

chore: cleanup / remove comments
  packages/pulumi/components/BrandNode.ts
Due: yarn eslint --quiet --fix, yarn prettier --write

feat: add createStack fn; export createBrandNode
  packages/pulumi/index.ts
Due: yarn eslint --quiet --fix, yarn prettier --write

feat: add umbrel install userData
  packages/pulumi/components/BrandNode.ts
Due: yarn eslint --quiet --fix, yarn prettier --write

chore: reorg
  packages/pulumi/src/components/BrandNode.ts
  packages/pulumi/src/components/index.ts
  packages/pulumi/src/index.ts
Due: yarn eslint --quiet --fix, yarn prettier --write

chore: add .envrc to gitignore
  .gitignore
Due: none

chore: local testing cleanup; add some debug logs
  packages/pulumi/Pulumi.dev.yaml
  packages/pulumi/index.ts
  packages/pulumi/package.json
  packages/pulumi/src/components/BrandNode.ts
  packages/pulumi/src/functions.ts
  packages/pulumi/src/scratchpad/local-testing.ts
  yarn.lock
Due: yarn eslint --quiet --fix, yarn prettier --write

docs: generate changeset
  .changeset/yellow-stingrays-return.md
Due: yarn prettier --write

Update README.md
  README.md
Due: yarn prettier --write

Path conditions:
  yarn eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  yarn prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
